/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* Chrome fix */
body > div {
	font-size: 18px;
	font-size: 1.8rem;
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 0.2s ease-in-out;
}


a {
	color: #8b7132;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
	color: #333;
	text-decoration: none;
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 30px 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #333;
}

blockquote {
	margin: 30px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 30px;
	font-size: 3rem;
}

h2 {
	font-size: 27px;
	font-size: 2.7rem;
}

.entry-content h3,
.entry-content h4 {
	font-weight: 600;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}



/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 15px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #333;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 15px 30px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: #0073e5;
	color: #fff;
}

.entry-content .button:focus,
.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
	padding: 8px 16px;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #eee;
	border-width: 0;
	color: #777;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Main Body
--------------------------------------------- */


html{
	border-top: 10px solid;
	border-color: #210202;

}
body {
    background: url(../images/background.jpg);
    background-repeat: repeat;
    color: #8b7132;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.625;
	margin: 0;
	

}

.full-width-content {
	max-width: 960px;
	margin: 0 auto;
	


}




/* Site Container
--------------------------------------------- */

.site-container {
	-webkit-animation: fadein 1s;
	animation:         fadein 1s;
	word-wrap: break-word;

}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;
	margin: 0 auto;
	padding: 60px 30px 0;
}


	/* Site Header
--------------------------------------------- */


.wp-custom-logo .site-title {
    position: absolute!important;
    clip: rect(0,0,0,0);
    height: 0;
    width: 0;
    border: 0;
    overflow: hidden;
}

.wp-custom-logo .site-description {
    position: absolute!important;
    clip: rect(0,0,0,0);
    height: 0;
    width: 0;
    border: 0;
    overflow: hidden;
}

.title-area{
	float: left;
	padding: 10px 0 0 0;
}

/* Navigation
--------------------------------------------- */



#menu-header-menu {
    float: right;
    clear: none;
    position: relative;
    margin-top: -3px;
}

.menu{
	display: block;
    list-style-type: none;
    padding: 0;
}

.menu a{

    border-color: transparent;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #8B7132;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    height: 0px;
    line-height: 16px;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
     width: 80px;
     display: block;
     padding-top: 30px;
 }

 

.menu li {
    border: 0;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
}

.current_page_item {
    background-image: url(../images/navigation.png);
    background-repeat: none;
    height: 147px!important;
    width: 84px!important;
    overflow: hidden;
	display: block;

}

.menu-item:hover {
	 background-image: url(../images/navigation.png);
    background-repeat: none;
    height: 147px!important;
    width: 84px!important;
    overflow: hidden;
	display: block;
}

/* ## Responsive Nav CSS
---------------------------------------------------------------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
}
 
.responsive-menu-icon::before {
	content: "\f333";
	display: block;
	font: normal 30px/1 'dashicons';
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	color: #000;
}



/* Main Content
--------------------------------------------- */

.paypalForm input, textarea {
    border: 0;
    background: none;
    margin: -20px;
}

/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	margin-bottom: 40px;
}

.widget p:last-child,
.widget ul > li:last-of-type {
	margin-bottom: 0;
}

.widget ul > li {
	margin-bottom: 10px;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

.call-to-action{
	
	float: right;
}

.call-to-action a{
	text-decoration: none;
	font-size: 13px;
	float-right;
	width: 46%;
}

.home-welcome{
	float: left;
	margin-right: 5px;
	width: 46%;
	clear: both;
}

.buy_now{
	clear: both;
	display: block;
	width: 100%;
	padding-top: 20px;
}
/* Misc
---------------------------------------------------------------------------------------------------- */

.floatLeft{
	float: left;
}


/** Image on about us page **/
.wp-image-67 {
	padding: 0 10px 0 0;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1140px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.site-header .widget-area {
		width: 560px;
	}

	.home-section-1,
	.home-section-3,
	.home-section-5 {
		background-attachment: scroll;
		background-position: top;
		-webkit-background-size: auto;
		-moz-background-size:    auto;
		background-size:         auto;
	}

	.content {
		width: 520px;
	}

	.full-width-content .content {
		padding: 0 110px;
	}

}

@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 768px;
	}

	.site-inner {
		max-width: none;
	}

	.site-header {
		padding-bottom: 10px;
		position: static;
	}

	.content,
	.sidebar,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.genesis-nav-menu,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.header-image .site-title > a {
		margin: 0 auto 10px;
	}

	.genesis-nav-menu a {
		padding: 10px;
	}

	.site-inner {
		margin-top: 0;
	}

	.site-inner {
		margin-top: 80px;
	}

	.full-width-content .content {
		padding: 0;
	}

	.full-width-content img.pull-left {
		margin-left: 0;
	}

	.full-width-content img.pull-right {
		margin-right: 0;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.pricing-table .one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.pricing-table .one-third:nth-child(3n+1) {
		border-right: 2px solid #000;
	}

	.pricing-table .one-third:nth-child(3n+2) {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.pricing-table .one-third:nth-child(3n) {
		border-left: 2px solid #000;
	}

}

@media only screen and (max-width: 768px) {

	.site-inner,
	.wrap {
		max-width: none;
		width: 100%;
	}

	.site-inner,
	.wrap {
		padding: 0 5%;
	}

	.site-inner {
		padding: 0;
	}

	.genesis-nav-menu.responsive-menu {
		display: none;
	}

	.nav-primary .responsive-menu-icon {
		margin-top: 20px;
	}

	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}

	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}

	.genesis-nav-menu.responsive-menu li.current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu li a,
	.genesis-nav-menu.responsive-menu li a:hover {
		border: none;
		display: block;
		padding: 20px;
		text-transform: none;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;	
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}

	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 20px/1 'dashicons';
		height: 20px;
		padding: 15px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}

	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}

	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
		display: none;
	}

	.genesis-nav-menu.responsive-menu .sub-menu {
		background-color: rgba(255, 255, 255, 0.05);
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
	}

	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		background-color: transparent;
		margin: 0;
		padding-left: 25px;
	}

	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		padding: 12px 20px;
		position: relative;
		text-transform: none;
		width: 100%;
	}

	.genesis-nav-menu.responsive-menu .current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
	.genesis-nav-menu.responsive-menu a:hover {
		background: none;
	}

	.site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu,
	.site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
	.site-header .genesis-nav-menu.responsive-menu > li:hover > a,
	.site-header .genesis-nav-menu.responsive-menu a:hover {
		color: #fff;
	}

	.home-even,
	.home-odd {
		padding: 90px 0 100px;
	}

	.simple-social-icons ul li {
		margin: 0 20px 20px !important;
	}

	.current_page_item {
		background: none;
		height: auto;
		width: auto;
		display: inline!important;
	}

}

@media only screen and (max-width: 480px) {

	.footer-widgets .widget-title,
	.home-even .widget-title,
	.home-odd .widget-title {
		font-size: 36px;
	}

	.home-even,
	.home-odd {
		font-size: 22px;
	}

}


